body {
    color: aquamarine;
    font-family: sans-serif;
    background-color: white;
    background-image: url(../image/walrus3);
    background-repeat: no-repeat;
    background-size: cover;
}
    img {
        float: centre;
      }
h.huu {
    width: 70%;
    text-underline-position: auto;
    font-style: oblique;
    font-weight: bolder;
    text-align: right
}  
p.intro {
    width: 70%;
    text-align: center;
    font-weight: bolder;
}
.important {
    color: black;
    text-align: left;
}
con {
    color: grey;
    text-align: left;
    float: right;

}
con2 {
    float: right;
}
.high {
    color: burlywood;
    width: 70%;
    
}
.unimpor {
    width: 90%;
    color: black;
    
}
